  <h2>
    fhem
    <span class="label label-success"></span>
  </h2>

  <!-- <div ng-include="partial('navbar-top')" /> -->

  <form role="form">
    <div class="form-group">
      <label for="">Arbeitszimmer <span class="label label-success">{{fhem.heizung_az.valve}}%</span></label>
      <input
        type="range"
        min="0" max="100"
        class="form-control"
        ng-model="fhem.heizung_az.valve"
        ng-change="push( 'heizung_az', fhem.heizung_az.valve )"
      />
    </div>
  </form>


<pre>{{ fhem | json }}</pre>

